body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

p {
    color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold", sans-serif;
}

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.section-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}


/* Background Colors */
.linear-gradient {
    background: rgb(253,39,124);
    background: linear-gradient(180deg, rgba(253,39,124,1) 0%, rgba(254,78,105,1) 50%, rgba(255,118,85,1) 100%);
}

.reverse-gradient {
    background: rgb(253,39,124);
    background: linear-gradient(180deg, rgba(255,118,85,1) 0%, rgba(254,78,105,1) 50%, rgba(253,39,124,1) 100%);
}

.white-background {
    background-color: white;
}


/* Navigation Bar */
.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {
    padding: 0 0 3.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


/* Hero Section */
.hero-heading {
    text-align: left;
}

.hero-div {
    padding-bottom: 30px;
}

.download-buttons {
    margin: 8% 3% 8% 0;
}

.hero-image {
    position: absolute;
    right: 30%;
    transform: rotate(15deg);
    width: 20%;
} 

@media (max-width: 1264px) {
    .hero-image {
        right: 25%;
    }
}

@media (max-width: 1085px) {
    .hero-image {
        right: 20%;
    }
}
@media (max-width: 992px) {
    .hero-image {
        position: static;
        transform: rotate(0deg);
        width: 40%;
    }   

    .big-heading {
        text-align: center;
    }

    .hero-div {
        padding-bottom: 0px;
    }
}    


/* Features Section*/
#features {
    position: relative;
    z-index: 1;
}
.features-parent {
    padding: 7% 15% 6%;

}

.feature-boxes {
    padding: 2rem;
}

.feature-heading {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.feature-icons {
    color:#FD2A7A; 
    display: inline-block;
    font-size: 3rem;
    line-height: 0;
    margin-bottom: 1rem;
}

.feature-icons:hover{
    color: #FF7356;
}


/* Testimonial Section */
#testimonials {
    color: #fff;
}

.testimonial-image {
    height: 150px;
    width: auto;
    border-radius: 50%;
    margin: 5%
}

.carousel-item {
    padding: 7% 15% 3%;
}


/* Press Section */
#press {
    padding-top: 3%;
    padding-bottom: 3%;
}

.press-images {
    width: 15%;
    margin: 20px 20px 
}


/* Pricing Section */
#pricing {
    padding: 100px;
}

.pricing-columns {
    padding: 3% 2%;
}

.pricing-buttons {
    width: 100%;
}

.card-heading {
    font-weight: 900;
    font-size: 1.5rem;
}


/* Call to Action Section */
#cta {
    background-color: #FD2C79;
    padding: 8% 20%;
}

.cta-buttons {
    margin: 5% 2% 0%;
}

/* Footer Section */
#footer {
    padding: 6% 20%;
}

.footer-logos {
    padding: 2% 1%;
    border: none;
    background-color: white;
}
